
body {
	font-family: Montserrat-Light;
	text-align: center;
	background-color: #4d5158;
}


h1,h2,h3,h4,h5,h6 {
	font-family: Montserrat-ExtraBold;
}
p {
	color: #8f8f8f;
	font-size: 20px;
	padding: 2% 5% 0%;
}

.big-heading {
	font-family: Montserrat-Black;
	font-size: 3.5rem;
	line-height: 1.5;
}
.button-heading {
	background-color: transparent;
	border-color: #00ced1;
	border-style: solid;
	cursor: auto;
}
.button-heading:hover{
	cursor: auto;
	background-color: transparent !important;
	border-color: #00ced1 !important;
	border-style: solid !important;
}
#title {
	text-align: left;
}

.container-fluid {
	padding: 3% 15% 7%;
}
.colored-section {
	background-color: #b9f2ff;
	color: #000;
}
.white-section {
	background-color: #fff;
	color: #00ced1;
}
/*Navigation bar*/
.navbar {
	padding: 0% 15% 0%;
	border-bottom: 1px solid #80e8ff;
}

.navbar-brand {
	font-family: Montserrat-Regular;
	font-size: 3rem;
}
.nav-item {
	padding: 0 18px;
}
.nav-link {
	font-size: 1.7rem;
	font-family: Montserrat-Regular;
}
.pd-top-100{
	padding-top: 100px;
}

/*Download buttons*/
.download-button {
	margin: 5% 0% 5% 0%;
}

/*Title image*/
.title-image {
	padding-top: 5%;
	width: 75%;
	border-radius: 100%;
}

/*Features section*/
#features {
	padding: 7% 15%;
	position: relative;
}
.feature-heading {
	font-weight: 1.3rem;
	color: #00ced1;
}


.icon {
	color: #00ced1;
	margin-bottom: 1rem;
}
.icon:hover {
	color: #afeeee;
}

/*Testimonials section*/
.testimonial-text {
	font-weight: 1.5rem;
}

.testimonial-image {
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}
.carousel-item {
	padding: 7% 15%;
}

/*Press section*/
#press {
	padding-bottom: 3%;

}
.press-logo {
	width: 15%;
	padding: 20px 20px 50px;
}
/*skills section*/
#skills {
	padding: 4% 10%;
	position: relative;
}
.button {
  width: 150px;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  border-radius: 14px;
  cursor: auto;
  background-color:#80e8ff;
}
.button:hover{
	cursor: auto;
  	color: black;
	background-color: #80e8ff;
}
/*about section*/
#about {
	padding: 4% 10%;
	position: relative;
}
.heading {
	padding-bottom: 5%;
}


@media (max-width: 1028px) {
	#title {
		text-align: center;
	}

	/*.title-image {
		width: 60%;
		position: static;
		transform: rotate(0);
	}*/
}


#mini-projects {
	padding: 4% 10%;
	position: relative;
}
.pro-images {
	margin: 25px;
  	display: inline-block;
  	height: 200px;
  	width: 200px;
  	border: 5px solid darkcyan;
	border: 5px solid #00bbe6;
  	border-radius: 20%;
	transition: transform 0.2s;

}
.pro-images:hover {
	cursor: pointer;
	transform: scale(1.08);
}
/*Call to action section*/
.contact-icon {
	text-decoration: none;
	color: #00ced1;
	padding: 0% 2% 3%;

}
.cta {
	padding-top: 2%;
}
.cta-heading {
	font-weight: 1.3rem;
	padding: 4% 0% 2%;
	margin-left: 8%;
	margin-right: 8%;
}
.contact-heading {
	font-size: 25px;
	padding-bottom: 2%;
}
.contact-name {
	text-decoration: none;
	color: #00ced1;
	font-size: 20px;
}

.form-item {
	border-radius: 8px;
	padding: 1%;
	width: 300px;
}
.form-button {
	margin-bottom: 3%;
}
#footer-name {
	padding-bottom:1%;
	font-size: 20px;
}

#footer {
	background-color: #4d5158;
}
.footer-icon {
	text-decoration: none;
	color: #00ced1;
	padding: 3% 1.5% 1%;
}



/*popup window*/




/* Set a style for all buttons */
.popup-button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
  float: right;
}

/* button:hover {
  opacity: 0.8;
} */

/* Extra styles for the cancel button */
.cancelbtn {
  color: white;
  padding: 14px 20px;
  margin: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f44336;
  float: left;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 30%;
  border-radius: 50%;
}

.container {
	padding: 20px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 65%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .big-heading {
        font-size: 2rem;
    }
	.navbar {
		padding: 0;
	}

    .navbar-brand {
        font-size: 2rem;
		padding-left: 20px;
    }

    .nav-link {
        font-size: 1.3rem;
    }
	.navbar-toggler{
		margin-right: 20px;
	}

    .feature-heading {
        font-size: 1.6rem;
    }

    .testimonial-text {
        font-size: 1.3rem;
    }

    .button {
        font-size: 15px;
		width: 100px;
		padding: 11px 12px;
    }

    .cta-heading {
        font-size: 1.1rem;
    }

    .contact-heading {
        font-size: 20px;
    }

    .contact-name {
        font-size: 16px;
    }

    #footer-name {
        font-size: 16px;
    }
	p {
		font-size: 16px;
		padding: 2% 0% 0%;
	}
	.fa-2x {
		font-size: 1.2em;
	}
	.footer-icon.fa-2x{
		font-size: 1.6em;
	}
	.contact-icon {
		padding: 4% 2% 4% 4%;
	}
	.footer-icon {
		padding: 3%;
	}
	.fa-4x {
		font-size: 3.4em;
	}
	.icon {
		margin: 1rem 1rem 0.5rem;
	}
	.feature-p{
		padding: 0%;
	}
	#skills .row>*{
		width: 50%;
	}
	.pro-images{
		margin: 10px;
	}
}

@media screen and (max-width: 768px) {
    .modal-content{
        width: 95%;
    }
    #modal_heading{
        padding-top: 30px;
    }
    .popup-text{
        padding: 0px;
    }
    .container{
        padding: 0px;
    }
	.container p{
		padding: 2% 5% 0%;
	}
	.container p{
		padding: 10% 5% 0%;
	}
    .imgcontainer{
        margin-bottom: 0px;
        width: 100%;
    }
}